
/* fondo de pagina */

body{
    background-color: rgba(0, 0, 0, 0.342);
}



/* contornos */

.esquinas{
    border-radius: 5%;
}




/* centrado del nav */
.nav{
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 90%;
}


/* centrado general */
.center{
    display: flex;
    justify-content: center;
}
.aling{
    display: flex;
    align-items: center;
}





/* margenes o espaciados */

.espaciadoNav{
    margin-left: 5%;
    margin-right: 8%;
}

.botonesNav{
    margin-left: 4%;
    margin-right: 4%;
}

.abajoForm{
    padding-top: 5%;
}


/* colores definidos */
.colorF{
    background-color: darkkhaki ;
}